/* === RESET === */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    list-style-type: none;
    list-style: none;

    object-fit: cover;
}

a {
    text-decoration: none;
}


header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3em;

    @media screen and (min-width: 800px) {
        display: none;
    }

}


/* MAIN INDELEN */
main {
    display: grid;
    grid-template-areas:
    "week week"
    "tijd section";

    /* MAIN */
    @media screen and (min-width: 800px) {
        grid-template-columns: min-content min-content;
        grid-template-rows: min-content min-content;
        /* dit werkt voor mobile en desktop versie, omdat ze dezelfde naam hebben in grid area */
        grid-template-areas:
        "tijd tijd"
        "week details";

        overflow: hidden;
    }

    .week {
        grid-area: week;

        display: flex;
        flex-direction: row;

        position: sticky;
        top: 0em;
        z-index: 100;

        overflow-x: auto;
        overflow-y: hidden;

        /* WEEK */
        @media screen and (min-width: 800px) {
            background-color: aquamarine;
            flex-direction: column;
            width: 6em;
            height: 30em;
            text-align: center;
            border-radius: 10px;

            position: fixed;
            top: 50%;
            transform: translateY(-50%);
            left: 3em;

            overflow-x: hidden;
            overflow-y: auto;

            /* https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_custom_scrollbar2 */
            &::-webkit-scrollbar {
                width: 10px;
                height: 10px;
            }
            
            &::-webkit-scrollbar-thumb {
                background: #e9e9e9;
                border-radius: 10px;
            }
        }

        li {
            padding: 0.8em;
            margin-top: 0.1em;
            margin-left: 0.6em;

            @media screen and (min-width: 800px) {
                margin-left: 0;
            }
        }

        li:first-child {
            margin-left: 2em;

            @media screen and (min-width: 800px) {
                margin-left: 0;
            }
        }

        li:last-child {
            margin-right: 2em;

            @media screen and (min-width: 800px) {
                margin-right: 0;
            }
        }
    }

    .tijd {
        grid-area: tijd;

        /* TIJD */
        @media screen and (min-width: 800px) {
            background-color: inherit;
            display: flex;
            flex-direction: row;
            position: fixed;
            z-index: 50;
            top: 0;
            margin-left: 10em;

            width: 100vw;
            overflow-x: auto;
            overflow-y: auto;

            &::-webkit-scrollbar {
                width: 10px;
                height: 10px;
            }
            
            &::-webkit-scrollbar-thumb {
                background: #e9e9e9;
                border-radius: 10px;
            }
        }

        li {
            padding-top: 1em;
            padding-bottom: 1em;
            margin-left: 1em;
        }

        li:first-child {
            margin-top: 2em;

            @media screen and (min-width: 800px) {
                margin-top: 0;
            }
        }

        li:last-child {
            margin-bottom: 6em;
            
            @media screen and (min-width: 800px) {
                margin-bottom: 0;
            }
        }

        li::after {
            content: "- - - - -";
            display: block;
            white-space: nowrap;
            transform-origin: top left;
            transform: rotate(90deg) translateY(-130%);
            margin-top: 1em;
            margin-bottom: 1em;

            @media screen and (min-width: 800px) {
                display: inline;
                transform: none;
                margin-left: 1em;
            }
        }

        li:last-child::after {
            content: "";
        }
    }

    .programma_container {
        /* PROGRAMMA CONTAINER */
        @media screen and (min-width: 800px) {
            grid-area: details;
            position: relative;
            top: 5em;
            left: 15em;
            margin-bottom: 20em;
        }

        details section {
            grid-area: section;
            @media screen and (min-width: 800px) {
                grid-area: none;
            }
        }
    }

    .radio_menu {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        border-radius: 20px;

        /* rechts in het midden */
        position: fixed;
        right: 2.5em;
        top: 20%;
        transform: translate(95%, -50%);
        transition: 0.5s;
        z-index: 200;

        padding: 1em;
        height: 17em;
        width: 16em;

        /* RADIO_MENU */
        @media screen and (min-width: 800px) {
            display: none;
        }

        .open_nav {
            position: relative;
            border: none;
            background-color: inherit;
            text-align: center;

            z-index: 10;

            left: -1em;
            width: 2em;
            height: 2em;
        }

        .nav_button {
            /* margin-left: 3.5em; */
            border: none;
            background-color: inherit;

            img {
                border-radius: 15px;
                height: 4em;
                width: 11em;
            }
        }
    }

    /* slide nav in beeld. classlist add met JS */
    .nav-active {
        background-color: rgb(250, 250, 250);
        transform: translate(20%, -50%);
        transition: 0.5s;

        .open_nav {
            transform: rotate(90deg);
            transition: 0.4s;
        }
    }

    .nav_button-active {
        opacity: 0.3;
    }

    .player {
        box-shadow: 0 0 16px #00000029;
        border-radius: 10px;

        position: fixed;
        bottom: 2em;
        left: 50%;
        transform: translateX(-50%);
        width: clamp(40vw, 80vw, 30em);
        height: 5em;
        z-index: 10;

        display: flex;
        align-items: center;
        justify-content: space-between;

        img {
            border-radius: 10px;
            width: 4em;
            height: 4em;
            margin-left: 0.5em;
        }

        .dj_info {
            position: relative;
            left: 1em;
            margin-right: auto;
        }

        button {
            color: white;
            border-radius: 50%;
            border: none;
            height: 3em;
            width: 3em;
            margin-right: 1em;
        }
    }

    .hidden {
        display: none;

        /* de hidden elementen zijn open op de desktop versie */
        @media screen and (min-width: 800px) {
            display: block;
        }
    }
}


/* DETAILS DESKTOP ARTICLE */
.desktop_article {
    box-shadow: 0 0 16px #00000029;
    border-radius: 10px;
    display: block;
    /* position: relative; */
    left: -4em;
    justify-content: center;

    padding: 0.5em;
    max-width: 30em;
    margin-bottom: 2em;

    h2 {
        font-weight: bold;
    }
}

/* DETAILS SUMMARY INDELEN */
.programma_container {
    display: grid;
    grid-template-columns: min-content min-content;
    grid-template-rows: min-content min-content;
    grid-template-areas: 
    "a b"
    "c d";
    gap: 1em;
    padding: 1em;

    /* SUMMARY */
    @media screen and (min-width: 800px) {
        grid-template-areas:
        "a"
        "b"
        "c"
        "d";
    }

    /* DETAILS SUMMARY POSITIE */
    .veronica {
        grid-area: a;
    }
    .slam {
        grid-area: b;
    }
    .sublime {
        grid-area: c;
    }
    .honderdp {
        grid-area: d;
    }

    details summary {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 2em;
        gap: 1em;

        @media screen and (min-width: 800px) {
            display: flex;
            flex-direction: row;
            position: relative;
            left: -4.5em;
            margin-top: 0;

            border-radius: 10px;
            padding: 1em;

            height: 5em;
            width: 90vw;
        }

        img{
            width: 10em;
            height: 10em;
            box-shadow: 5px 5px 3px 0px #00000014;
            
            @media screen and (min-width: 800px) {
                width: 2.5em;
                height: 2.5em;
            }
        }
    }

    /* open details element heeft geen summary */
    details[open] {
        summary {
            display: none;
        }
    }
}

/* DETAILS SECTION INDELEN */
.programma_container details section{
    display: flex;
    flex-direction: column;
    gap: 1em;

    /* SECTION */
    @media screen and (min-width: 800px) {
        flex-direction: row;
        gap: 0;
        padding: 0.7em;
        border-radius: 10px;

        position: relative;
        margin-left: -6vw;

        width: 90vw;
        overflow-x: auto;
        overflow-y: auto;

        &::-webkit-scrollbar {
            width: 10px;
            height: 10px;
        }

        &::-webkit-scrollbar-thumb {
            background: #e9e9e9;
            border-radius: 10px;
        }
    }

    h2 {
        @media screen and (min-width: 800px) {
            display: none;
        }
    }
}

/* DETAILS SECTION ARTICLE INDELEN */
.programma_container details section article {
    box-shadow: 0 0 8px #00000014;
    border-radius: 10px;
    padding: 0.5em;
    max-height: 20em;
    width: 16.2em;

    display: grid;
    grid-template-columns: min-content 1fr;
    grid-template-rows: min-content min-content min-content;
    grid-template-areas: 
    "pic titel"
    ". info"
    ". djlink";

    position: relative;
    right: 1em;

    /* ARTICLE */
    @media screen and (min-width: 800px) {
        grid-template-columns: min-content 1fr;
        grid-template-rows: min-content min-content 1fr;

        min-height: 10em;
        min-width: 16em;
        margin-left: 1.5em;
    }

    .titel {
        grid-area: titel;
        justify-self: start;
        align-self: center;
        margin-left: 0.3em;
    }

    .profile_picture {
        grid-area: pic;

        place-content: center;
        border-radius: 50%;
        height: auto;
        width: 3.5em;
        height: 3.5em;
    }

    .info {
        grid-area: info;

        max-width: 11em;
        justify-self: center;
        margin-bottom: 1em;
    }

    .dj_link {
        grid-area: djlink;

        display: flex;
        justify-content: space-between;

        p {
            place-content: center;

            @media screen and (min-width: 800px) {
                justify-self: end;
                align-self: end;
            }
        }
    
        a {
            display: flex;
            border-radius: 50%;
            min-width: 3em;
            min-height: 3em;
            /* de cirkel */
            align-self: end;
            /* '>' in de cirkel */
            justify-content: center;

            &.sublime {
                color: black;

                :hover {
                    color: white
                }
            }
        }
    }
}


/* DETAILS SNAP */
.programma_container {
    scroll-snap-type: y mandatory;
    position: relative;

    /* DETAILS SNAP */
    .snapElement {
        scroll-snap-align: center;
        /* https://developer.mozilla.org/en-US/docs/Web/CSS/scroll-margin-left */
        scroll-margin-left: 10em;
    }
}

